.card-title {
  color: #212529;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.fondo-section {
  height: 600px;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.fotoportada {
  height: 301px;
  width: 301px;
  /* vh o porcentaje */
  image-rendering: auto;
  /* margin-top: 50px; */
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}

.color {
  background-color: #4f4f4f;
}

.text-success {
  font-size: 20px;
}

.imagen-logo {
  padding: 0.4%;
}
.text {
  margin: 0px;
  color: #707070;
  font-family: "Roboto", light;
  font-size: 16px;
}

.pie {
  background-color: #707070;
}
