
.informacion h3{

  color: #212529;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin-left: 5px;

}
.informacion h4{

  color:   #BEC1BB;
 font-family: 'Roboto Slab', serif;
  font-size: 15px;
 
  
}

.sub-2 p{
  font-size: 75px;
  margin-left: 20px;
padding-left: 1%;

}
.clase-flex{
  display: flex;
  align-items: center;
}
.clase-flexcolum
{
  
  flex-direction: column;
}

.clase-flexrow{
  flex-direction: row;
}

.miBoton{
  
  padding: 40px;


  font-size: 30px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 90px;
  margin-right: 30px;
  height: 5px;
background-color: #A491D2;
}


.img-contact{

  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-left: 5px ;
  margin-bottom: 30px;
  margin-top: 30px;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenido-contacto{
  width: 500px;
  padding: 30px;
  min-height: 100vh;
  border: 1px solid red;

}
.perfil{

  justify-content: space-between;

  border-bottom: grey 2px solid;

}

.informacion{

  margin-left: 15px ;
  
}


.informacion p{

  margin-left: 3px;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin-top: 10px;
}

.contenido-principal h1{
  font-size: 75px;
 
}

.contenido-principal{

  min-height: 100vh;
  align-content: center;
  justify-content: center;
}
.contenido-principal p{
align-items: center;
  justify-content: center;
  border-left: 50px;
  font-size: 35px;
}





